/*直接在控件里写的style样式会覆盖css文件相同的设置，不相同取并集都生效*/
*{
    margin: 0px;
    padding: 0px;
}
.divBox{
    height:100%;

}
.left{
    float: left;
    width: 200px;
    height: 100%;
    background: rgb(48, 65, 86);
    color: rgb(191, 203, 217);
}
/**
ul设置
list-style: none ；把ur下li标签前边的逗号去掉
*/
.primaryUl{
    font-weight: bold;
    margin: 0 20px;
    color: rgb(191, 203, 217);
    list-style: none;

}
/*设置li属性，包括字体背景，边距缩进*/
.list{
    padding-left: 25px;
    color: rgb(191, 203, 217);
    background-color:rgb(48, 65, 86);
}
/*color是定义字体的颜色;

backgroud可以定义背景的一切内容，包括颜色、图片以及图片位置;

background-color只能定义背景的颜色
border-radius:添加圆角边框
border:1px solid #dcdfe6; 设置控件的边框大小颜色
 padding: 2px 15px;设置控件的边距缩进，比如文本框就时文字距离文本左右15，上下2px ,四个是上，下，左，右，一个是全部的四个方向
  margin-left: 200px;设置div块左开始边界从200像素开始，左边距
*/
.right{
    margin-left: 200px;
    background: #e5e9ec;
    height: 100%;
    color: #303133;
    padding-left: 30px

}
.radius{
    /**/
    border-radius: 4px;
    border:1px solid #dcdfe6;
    padding: 2px 15px;


}

/**
background:url(./img/提交.jpg);按钮设置背景图片，相对路径同级路径为./
*/
.submitStyle{
    background:url(./img/blue.png);
    padding: 2px 15px;
    border:1px solid #66b1ff;
    border-radius: 4px;
    color: #fff;

}
/*.botom{*/


    /*float: bottom;*/

    /*background:#3c8dbc;*/
    /*height: 100%;*/
    /*width: 200px;*/
/*}*/

.footer{
    width: 100%;
    line-height: 40px;
    text-align: center;
    color: #fff;
}
/*当校验出错时的lable样式为红色*/
label.error{
    color: red;
}