<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head id="head_id">
    <title>athena测试(picking)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" th:href="@{/public.css}"/>

    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/vue.js}"></script>
   <!-- <script type="text/javascript" th:src="@{/js/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/jquery.validate.min.js}"></script>
   <!-- <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>-->

</head>


<body>

<!--用ul时li 一定在<a>里，否则点击连击后会变色-->
<!---->

<div class="divBox">
    <div id="left_id" class="left" >
        <ul class="primaryUl">
            <br>
            <a  th:href="@{/rpc/robot} "><li class="list" style="width: 100px"><span>服务配置重启<span></li></a>
            <br>
            <a th:href="@{/robot/robotconfig}"><li class="list" style="width: 100px"><span>机器人配置<span></li></a>
            <br>
            <a href="http://172.16.3.19:62001/athenatest/"> <li class="list" style="width: 100px"><span>任务下发<span></li></a>
            <br>
            <a th:href="@{/rpc/athena}"><li class="list" style="width: 100px"><span>athena日志<span></li></a>
            <br>
            <a th:href="@{/rpc/athenatest}"><li class="list" style="width: 100px"><span>Athenatest日志<span></li></a>
            <br>
            <a th:href="@{/robot/Tomapmodify}"> <li  class="list" style="width: 100px"><span>地图工位修改<span></li></a>
        </ul>

    </div>
    <div class="right">3456</div>
    <!--<div id="botom_id" class="botom" ></div>-->
</div>


<footer class="footer"><div style="text-align:center;">	<p><a href="http://www.mengxuegu.com/" target="_blank">梦学谷 www.mengxuegu.com</a> 版权所有</p></div></footer>
</body>
</html>