<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="public :: #head_id">
    <title>athena测试(picking)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="js/jquery-3.3.1.min.js">
    </script>

</head>
<!--
<body style="background-image:url(img/bg.jpg);background-repeat:no-repeat">
-->
<body>
<script type="text/javascript">



<!--验证新模拟器提交参数-->
    $(document).ready(function(e) {




        if(this.value=="OLD"){
            $("#old").css("display", "block")
            $("#new").css("display", "none")
            //单选框选中check用click
            $("#xml").click();
        }else if(this.value=="NEW"){
            /**
             * /寻找class为oldw*/
//jquery改变css属性,直接cess方法，css属性,css属性值或者   $("#new").css("style","display" ,"block");

            $("#new").css("display" ,"block");
            $("#old").css("display", "none")
            /**
             * /寻找id为new的div元素下所有input子元素的第一个input元素*/
            $("div#new > input:eq(0)").click();
        }



        //选择版本号触发事件
        $("#version").change(function () {
            var selecet = document.getElementById("version");
            var index = selecet.selectedIndex;
            var version = String(selecet.options[index].value);



            if (version=="3.2"){
                // $("#uploadForm").getElementById("fusion1").style.display="block";

                document.getElementById("fusion1").style.display="block";
            }else {

                document.getElementById("fusion1").style.display="none";

            }

        })

        $('#s-version').change(function () {

           //可以获取选中的下标，也可以直接输出选中的项vlaue值，this.value()
         //  var index= $('#s-version').selectedIndex;
//根据class获取的元素是个数组，即使有一个时也应该取第一个$('#uploadForm')[0]
           if(this.value=="OLD"){
               $("#old").css("display", "block")
               $("#new").css("display", "none")
               //单选框选中check用click
               $("#xml").click();
           }else if(this.value=="NEW"){
               /**
                * /寻找class为oldw*/
//jquery改变css属性,直接cess方法，css属性,css属性值或者   $("#new").css("style","display" ,"block");

               $("#new").css("display" ,"block");
               $("#old").css("display", "none")
               /**
                * /寻找id为new的div元素下所有input子元素的第一个input元素*/
               $("div#new > input:eq(0)").click();
           }

        })
        $('#uploadForm-new').validate({
            rules:{
                robotNum:{
                    required:true,
                    // max:1000,
                    min:1,
                    digits:true
                },
                server:{
                    required:true,
                    maxlength :20,
                    minlength:1,

                }

            },
            messages:{
                robotNum:{
                    required:"必填",
                    // max:"不能大于1000",
                    min:"最小值为1",
                    digits:"必须输入正整数",
                },
                server:{
                    required:"必填",
                    maxlength:"最大为20位",
                    minlength:"最小长度1",

                }
            },
            // 如果验证通过就触发submitHandler里的ajax方法,restful不走这个？
            /*submitHandler: function() {
                // getRobotConfig();
                $("#responseText").text="";
            }*/
        });

    });

    function validate_required(field, alerttxt) {
        with (field) {
            if (value == null || value == "") {
                alert(alerttxt);
                return false
            }




            else {
                return true
            }
        }
    }

    function validate_form(thisform) {
        with (thisform) {
            if (validate_required(server, "服务器ip必填") == false) {
                server.focus();
                return false
            }
            if (validate_required(robotNum, "机器人数量必填") == false) {
                robotNum.focus();
                return false
            }
            testSinglePointStations();
        }
    }
    
    function fusion_div() {
        var selecet = document.getElementById("version");
        var index = selecet.selectedIndex;
        var version = String(selecet.options[index].value);



        if (version=="3.2"){
          // $("#uploadForm").getElementById("fusion1").style.display="block";

            document.getElementById("fusion1").style.display="block";
        }else {

            document.getElementById("fusion1").style.display="none";

        }

        
    }
    function testSinglePointStations() {
        var robotNum = parseInt(document.getElementById("robotNum").value);
        var server = String(document.getElementById("server").value);
      /*  var selecet = document.getElementById("mode");
        var index = selecet.selectedIndex;
        var mode = String(selecet.options[index].value);*/
       // c
        var radio= document.getElementsByName("mode");
        var selecet= document.getElementById("version");
        var index = selecet.selectedIndex;
        var version = String(selecet.options[index].value);

        for(var i=0;i<radio.length;i++){
            if(radio[i].checked==true){
                var mode=radio[i].value;
                break;
            }}

        $.ajax({
            url: "http://" + location.hostname + ":61118/robot/config",
            type: "post",
            data: JSON.stringify({robotNum: robotNum, server: server, mode: mode,version:version}),
            contentType: "application/json;charset=UTF-8",
            success: function (result) {
                //alert("发送成功，点击获取配置");
                var responseText = document.getElementById("responseText");

                responseText.value = result.data;














            }
        });
    }
function getRobotConfig() {
    var robotNum = parseInt(document.getElementById("robotNum-new").value);
    var server = String(document.getElementById("server-new").value);
    /*  var selecet = document.getElementById("mode");
      var index = selecet.selectedIndex;
      var mode = String(selecet.options[index].value);*/
    // c

    $.ajax({
        url: "http://" + location.hostname + ":61118/robot/config",
        type: "post",
        data: JSON.stringify({robotNum: robotNum, server: server}),
        contentType: "application/json;charset=UTF-8",
        success: function (result) {
          //  alert("发送成功，点击获取配置");
            var responseText = document.getElementById("responseText");

           // responseText.value = result.data;














        }
    });
}

</script>
<div class="divBox">
    <div th:replace="public :: #left_id"></div>
    <div class="right">
        <div>
            <br>
            <form id="uploadForm-new" th:action="@{/robot/config}"    enctype="multipart/form-data">

            <select id="s-version" class="s-version" name="Sversion">
                <option value="NEW" >新模拟器</option>
                <option value="OLD" selected>旧模拟器</option>
            </select>
            <br>
            <br>

                机器人配置数量：<input type="text" name="robotNum"
                               id="robotNum-new"/>
                RMS服务器IP：<input type="text" name="server" id="server-new"/>

                rms版本： <select id="version" name="version" class="language-code form-control" >
                <option value="2.0" selected>3.2以下</option>
                <option value="3.2">3.2以上</option>
            </select>

                <div id="old"><input id="xml"  type="radio" name="mode" checked="checked" value="xml" />XML
                    <input type="radio" name="mode" value="database"/>DataBase</div>
            <div id="new" style="display: none" > <input  type="radio" name="mode" value="cellcode"/>CellCode</div>
                <div id="fusion1" style="display: none"> <input type="radio" name="mode" value="fusion"/>FUSION </div>



                <input type="submit" value="发送"/>
            </form>
           <!-- <form id="uploadForm" enctype="multipart/form-data"
                  onsubmit=" return validate_form(this) ? testSinglePointStations():false">
                机器人配置数量：<input type="text" onkeyup="this.value=this.value.replace(/[^\d]/g,'') "
                               onafterpaste="this.value=this.value.replace(/[^\d]/g,'') " name="robotNum"
                               id="robotNum"/>
                RMS服务器IP：<input type="text" name="server" id="server"/>

                rms版本： <select id="version" class="language-code form-control" onchange="fusion_div()">
                <option value="2.0" selected>3.2以下</option>
                <option value="3.2">3.2以上</option>
            </select>

               &lt;!&ndash; 地图类型： <select id="mode" class="language-code form-control">
                <option value="xml" selected>XML</option>
                <option value="database">DataBase</option>
                <div id="fusion" style="display: none"> <option value="fusion">FUSION</option></div>&ndash;&gt;
               <div class="old"><input id="xml"  type="radio" name="mode" value="xml" />XML
                <input type="radio" name="mode" value="database"/>DataBase</div>
                <input style="display: none" id="new" type="radio" name="mode" value="CellCode"/>CellCode
                <div id="fusion1" style="display: none"> <input type="radio" name="mode" value="fusion"/>FUSION </div>


                <input type="submit" value="发送"/>
            </form>-->

        </div>
        <br>
        <div>
            <label>机器人配置结果：</label><br/>
            <textarea  th:text="${data}"  id="responseText" style="width: 1000px; height: 200px;"></textarea><br/>

        </div>
    </div>

    <div th:replace="public :: #botom_id">123</div>


</div>



</body>
</html>